name: cd

on:
  workflow_run:
    workflows: [ master-ci ]
    branches: [ master ]
    types:
      - completed

jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: webfactory/ssh-agent@v0.5.4
        with:
            ssh-private-key: ${{ secrets.SERVER_SECRET }}

      - name: Deploy
        shell: bash
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@188.121.110.151 "cd negare/Negare_backend && export TAG=${{ github.sha }} && docker-compose down && docker-compose -f docker-compose.cd.yml up -d"