name: master-ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: build docker
      run: |
        docker build . -t ghcr.io/alibagherz/negare:${{ github.sha }}
    - name: push
      run: |
        docker login --username=AliBagherz --password=${{ secrets.PERSONAL_ACCESS_TOKEN }} ghcr.io
        docker push ghcr.io/alibagherz/negare:${{ github.sha }}
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v2

      - name: Run Tests
        run: |
          docker login --username=AliBagherz --password=${{ secrets.PERSONAL_ACCESS_TOKEN }} ghcr.io
          export TAG=${{ github.sha }}
          docker pull ghcr.io/alibagherz/negare:$TAG
          docker-compose -f docker-compose.test.yml run web